Task 8.1. Object-Oriented Software Design and Programming. Home task [OO Design]

Разработать иерархию классов.
•	Системы календарного планирования / управления:
o	Роботизированное управление складом.
Шаги
1. Опишите требования к выбранной системе: функциональные и нефункциональные,

2. Разработайте варианты использования системы на основе требований.
3. Определите объекты, классы и отношения в системе.
4. Разработать карты CRC( необязательно).
5. Создавайте диаграммы классов, изображающие классы, их атрибуты   и  отношения в системе.
6.   Преобразовать диаграммы в код Java.
Покажите   следующие  результаты: требования, варианты использования, карты CRC( необязательно),  диаграммы классов,
 Java-код классов.

Функциональные требования.
1. автономность
2. точность расстановки позиции товара.
3. возможность выписки накладных, и иных документов автоматически при получении и выгрузке товаров со склада и на склад,
4.работа с бракованным товаром.
5.работа в аварийном режиме.

Нефункциональные требования
1.  производительность
2. удобство сопровождения
3. расширяемость
4. надежность
5. факторы эксплуатации.

Варианты использования.

  Данная система может быть использоваться как от  небольшого контейнера (гараж, морской контейнер, небольшой склад,
  автомат выдачи посылок…) так и до большого склада.
  Здесь важно отметить, что автоматизированные автономные роботы (подвижные и неподвижные) должны выполнять общую роль:

  безотказная, точная работа в данной системе [склад, хранилище], по принципу:
  получил товар на склад –>
  контроль качества упаковки  ->
  быстрая сортировка его по  типу или другим параметрам в соответствующее место хранения, и обратный процесс:

  быстрый поиск из места хранения   –>
   и затем к месту отгрузки из склада клиенту.

  Для исключения беготни  по складу, каждая группа роботов должна выполнять строго свои функции.
  Также необходимо учитывать взаимопомощь роботов с друг другом, а также самодиагностика, и взаимозаменяемость роботов,
  если один из них выходит из технологического процесса работы.
